@import "http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css";

* {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    background-color: #f8f8f8;
    min-height: 100%;
    color: #656465;
}

h1, h2, h3, h4, h5 {
    font-weight: bold;
    margin-bottom: 20px;
}
    
h1 {
    font-size: 320%;
}
h2 {
    font-size: 180%;
}
h3 {
    font-size: 120%;
}
h4 {
    font-size: 100%;
}
h4 {
    font-size: 90%;
}

.content {
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.hide {
    opacity: 0;
}

.unclicked {
    pointer-events: none;
}

.disabled, [disabled] {
    pointer-events: none;
    opacity: .5;
}

header {
    background-color: white;
    display: block;
    border-bottom: 1px solid #c8c8c8;
    padding: 20px;
}

input[type=text] {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #229966;
    line-height: 30px;
}

input[type=text]:focus, input[type=text]:invalid {
    outline: none !important;
    box-shadow: none;
}

.warn {
    color: red;
    font-size: 80%;
    margin-top: 7px;
}

/* DEFAULT STATUS */
.step-by-step {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 0 auto 30px
}

.step-by-step .spacer {
    flex: 1;
    display: block;
    height: 8px;
    background-color: #f0f1ef;
}

.step-by-step .step {
    flex: none;
    margin: 0 -2px;
}

.step-by-step a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #f0f1ef;
    position: relative;
    color: #229966;
}

.step-by-step .step a:after {
    width: 80px;
    text-align: center;
    position: absolute;
    left: -20px;
    bottom: -30px;
    font-weight: bold;
    font-size: 14px;
}

.step-by-step .step:nth-child(1) a:after {
    content: "CPF";
}

.step-by-step .step:nth-child(3) a:after {
    content: "Crédito";
}

.step-by-step .step:nth-child(5) a:after {
    content: "Resultado";
}

.mobile-step {
    display: none;
    flex-direction: column;
    align-items: center;
}

.mobile-step h1, .mobile-step h3 {
    color: #229966;
    margin: 0;
    text-align: center;
}
/* -- DEFAULT STATUS */
/* STEP 01 */
.step01 .step-by-step .step:nth-child(1) a {
    background-color: #229966;
}
.step01 .main {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step01 .main p {
    padding: 50px 0;
}
.step01 .main form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.step01 .main form input[type=text] {
    width: 100%;
}
.step01 .main button {
    background-color: #229966;
    color: white;
    border: none;
    padding: 10px 100px;
    font-weight: bold;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 14px;
}
/* -- STEP 01 */
/* STEP 02 */
.step02 .step-by-step .spacer:nth-child(2) {
    background-color: #229966;
}

.step02 .step-by-step .step:nth-child(1) a, 
.step02 .step-by-step .step:nth-child(3) a {
    background-color: #229966;
}
.step02 .main {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.step02 .main p {
    padding: 50px 0;
}
.step02 .main form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.step02 .main form > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.step02 .main form > div span {
    margin-right: 5px;
}

.step02 .main form input[type=text] {
    width: 100%;
}

.step02 .main button {
    background-color: #229966;
    color: white;
    border: none;
    padding: 10px 100px;
    font-weight: bold;
    border-radius: 5px;
    margin: 15px 0;
    font-size: 14px;
}
/* -- STEP 02 */
/* STEP 03 */
.step03 .step-by-step .spacer:nth-child(2), 
.step03 .step-by-step .spacer:nth-child(4) {
    background-color: #229966;
}

.step03 .step-by-step .step:nth-child(1) a, 
.step03 .step-by-step .step:nth-child(3) a, 
.step03 .step-by-step .step:nth-child(5) a {
    background-color: #229966;
}

.step03 {
    background-color: #229966;
}

.step03 .main {
    color: white;
}

.step03 .main > h2 {
    width: 100%;
    text-align: center;
    margin: 100px 0 70px;
}

.step03 .main > h5 {
    width: 100%;
    text-align: center;
    margin: 0;
}

.step03 .main ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 70px;
}

.step03 .main ul h2, 
.step03 .main ul h3 {
    margin: 0 0 15px;
}

.step03 .main ul li {
    text-align: center;
}
/* -- STEP 03 */
/* UNSUCCESS */
.unsuccess {
    background-color: #4a4a4a;
    color: white;
}

.unsuccess .main > h2 {
    width: 100%;
    text-align: center;
    margin: 100px 0 70px;
}

.unsuccess .step-by-step .spacer {
    background-color: #4a4a4a;
}

.unsuccess .step-by-step .step a {
    background-color: #4a4a4a;
    color: #4a4a4a;
    pointer-events: none;
}
/* -- UNSUCCESS */

.container {
    position: relative;
}

.container > div {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
}

@media screen and (max-width: 900px) {
    .step-by-step {
        display: none;
    }
    
    .mobile-step {
        display: flex;
    }
}
/* TRANSIÇÃO DE TELA */
@keyframes slideOutLeft {
    to      { transform: translateX(-200%); }
}
@-moz-keyframes slideOutLeft {  
    to      { -moz-transform: translateX(-200%); }
}
@-webkit-keyframes slideOutLeft {
    to      { -webkit-transform: translateX(-200%); }
}
/* slide da esquerda para direita. */
@keyframes slideInRight {
    from    { transform:translateX(200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInRight {
    from    { -moz-transform:translateX(200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInRight {
    from    { -webkit-transform:translateX(200%); }
    to      { -webkit-transform: translateX(0); }
}

@keyframes slideOutRight {
    to      { transform: translateX(200%); }
}
@-moz-keyframes slideOutRight {  
    to      { -moz-transform: translateX(200%); }
}
@-webkit-keyframes slideOutRight {
    to      { -webkit-transform: translateX(200%); }
}

/* slide da direita para esquerda */
@keyframes slideInLeft {
    from    { transform:translateX(-200%); }
    to      { transform: translateX(0); }
}
@-moz-keyframes slideInLeft {
    from    { -moz-transform:translateX(-200%); }
    to      { -moz-transform: translateX(0); }
}
@-webkit-keyframes slideInLeft {
    from    { -webkit-transform:translateX(-200%); }
    to      { -webkit-transform: translateX(0); }
}

.fade[ui-view].ng-enter, 
.fade[ui-view].ng-leave {
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    -o-transition:all .5s;
    transition:all .5s;
}
.fade[ui-view].ng-enter {
    opacity: 0;
}
.fade[ui-view].ng-enter-active {
    opacity: 1;
}
.fade[ui-view].ng-leave {
    opacity: 1;
}
.fade[ui-view].ng-leave-active {
    opacity: 0;
}

.rtl[ui-view].ng-enter,
.rtl[ui-view].ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}   
/* animação de entrada */
.rtl[ui-view].ng-enter            { 
    -webkit-animation:slideInRight 0.5s both ease;
    -moz-animation:slideInRight 0.5s both ease;
    animation:slideInRight 0.5s both ease; 
}
/* animação de saída */
.rtl[ui-view].ng-leave            { 
    -webkit-animation:slideOutLeft 0.5s both ease;
    -moz-animation:slideOutLeft 0.5s both ease;
    animation:slideOutLeft 0.5s both ease;   
}

.ltr[ui-view].ng-enter,
.ltr[ui-view].ng-leave { 
    transition:0.5s all ease; 
    -moz-transition:0.5s all ease; 
    -webkit-transition:0.5s all ease; 
}
.ltr[ui-view].ng-leave            { 
    -webkit-animation:slideOutRight 0.5s both ease;
    -moz-animation:slideOutRight 0.5s both ease;
    animation:slideOutRight 0.5s both ease;   
}
.ltr[ui-view].ng-enter            { 
    -webkit-animation:slideInLeft 0.5s both ease;
    -moz-animation:slideInLeft 0.5s both ease;
    animation:slideInLeft 0.5s both ease; 
}
/* - TRANSIÇÃO DE TELA */