<!DOCTYPE html>
<html>
<head>
    <title>Noverde</title>
    <meta charset="utf-8"/>
    <base href="/"/>
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width" />
    <link rel="stylesheet" href="css/style.css"/>
    <link rel="icon" href="img/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-icon" href="img/icon60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="img/icon76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="img/icon120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="img/icon152.png">
    <link rel="apple-touch-icon" sizes="175x175" href="img/icon175.png">
    <meta name="keywords" content="noverde, emprestimo, sem juros"/>
    <meta name="description" content="Esta é uma aplicação que faz parte de um processo seletivo da Noverde."/>
    <meta name="subject" content="Teste Noverde">
    <meta name="copyright" content="Noverde">
    <meta name="language" content="pt-BR">
</head>
<body ng-app="Application" ng-controller="RootController" class="{{ navigation }}" >
    <div ui-view="navigationBar"></div>
    <div class="container">
        <div class="rtl" ui-view="content"></div>
    </div>
    <div id="loader">
        Loading...
    </div>
    <!-- SCRIPTS -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery-mask-plugin/dist/jquery.mask.min.js"></script>
    <script src="bower_components/jquery-maskmoney/dist/jquery.maskMoney.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-aria/angular-aria.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-material/angular-material.js"></script>
    <script src="bower_components/angular-messages/angular-messages.js"></script>    
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-ui-mask/dist/mask.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/moment/min/moment.min.js"></script>
        <script src="js/app.js?v=296220421"></script>
    <script src="js/services.js?v=296220421"></script>
    <script src="js/configs.js?v=296220421"></script>
    <script src="js/directives.js?v=296220421"></script>
    <script src="js/filters.js?v=296220421"></script>
    <script src="js/routes.js?v=296220421"></script>
    <script src="js/utils.js?v=296220421"></script>    
    <script src='controllers/rootController.js?v=296220421'></script><script src='controllers/step/01Controller.js?v=296220421'></script><script src='controllers/step/02Controller.js?v=296220421'></script><script src='controllers/step/03Controller.js?v=296220421'></script><script src='controllers/step/unSuccessController.js?v=296220421'></script></body>
</html>