<header>
    <div class="content">
        <ul class="step-by-step">
            <li class="step">
                <div class="circle"><a class="{{ navigation != 'step02' ? 'unclicked' : '' }}" ng-click="backPageTo('step01')"></a></div>
            </li>
            <li class="spacer"></li>
            <li class="step">
                <div class="circle"><a ng-click="backPageTo('step02')"></a></div>
            </li>
            <li class="spacer"></li>
            <li class="step">
                <div class="circle"><a href="#"></a></div>
            </li>
        </ul>
        <div class="mobile-step">
            <h3>Passo 1</h3>
            <h1>CPF</h1>
        </div>
    </div>
</header>