<div class="main content">
    <p>
        Olá queremos te ver #NOVERDE, para isso precisamos do seu CPF.
    </p>
    <form ng-submit="submit()" name="form">
        <input type="text" cpf-format name="cpf" placeholder="Informe o seu CPF" ng-model="data.cpf">
        <span class="warn" ng-messages="form.cpf.$error" ng-show="form.cpf.$dirty">
			<span ng-message="cpf">CPF inválido</span>
		</span>
        <button type="submit" ng-disabled="form.$invalid">PRÓXIMO</button>
    </form>
</div>