<div class="main content">
    <p>
        De quanto você precisa pra ficar #NOVERDE?
    </p>
    <form ng-submit="submit()" name="form">
        <div>
        	<span>R$</span>
        	<input type="text" money-format name="amount" placeholder="0,00" ng-model="data.amount">
        </div>
        <span class="warn" ng-messages="form.amount.$error" ng-show="form.amount.$dirty">
            <span ng-message="amount">Valor inválido</span>
        </span>
        <button type="submit" ng-disabled="form.$invalid">PRÓXIMO</button>
    </form>
</div>