<div class="main">
    <h2>
        Uhull, você foi aprovado!
    </h2>
    <h5 ng-if="data.amount != responseData.amount">
        *O valor que liberaremos é menor do que o escolhido.
    </h5>
    <ul>
        <li>
            <h3>
                Limite liberado
            </h3>
            <h2>
                R$ {{ responseData.amount | money }}
            </h2>
        </li>
        <li>
            <h3>
                Parcelas para pagar
            </h3>
            <h2>
                {{ responseData.period }}x 200,00
            </h2>
        </li>
        <li>
            <h3>
                Primeiro Vencimento
            </h3>
            <h2>
                {{ responseData.first_due_date | datetime }}
            </h2>
        </li>
    </ul>
</div>